$primary-color: #6b1b56;
$secondary-color: #000000;
$default-color: #ffffff;
$grey-color: #F6F8FD;
$green-color: green;
$yellow-color: yellow;

$red-gradient: linear-gradient(to left ,#E73054, #B94646);
$violet-gradient: linear-gradient(to left, #6B1D57, #33176C );

$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-big: 20px;

$line-height-small: 24px;
$line-height-normal: 26px;
$line-height-medium: 28px;
$line-height-big: 30px;