<div class="card">
    <div class="card__header">
        <div class="card__date"></div>
        <figure class="card__figure">
            <img src="#" alt="Toyota Camry SE">
        </figure>
    </div>
    <div class="card__body">
        <div class="card__row">
            <div class="accident">
                <div class="icon"></div>
                <span>Accident</span>
            </div>
            <div class="views">
                <div class="icon"></div>
                <span>Nr. of views</span>
            </div>
        </div>
        <div class="card__row">
            <div class="location">
                <div class="icon"></div>
                <div class="text">
                    <span>Location</span>
                    <p>Riyadh Yard, Saudi Arabia</p>
                </div>
            </div>
        </div>

        <div class="card__row">
            <div class="old-price">
                <div class="icon"></div>
                <div class="text">
                    <span>Sold for</span>
                    <div class="price">
                        23,911 SAR
                    </div>
                </div>      
            </div>
            <div class="current-price">
                <div class="icon">
                    
                </div>
                <div class="text">
                    <span>Buy now</span>
                    <div class="price">
                        23,911 SAR
                    </div>
                </div>
            </div>
        </div>

        <div class="card__row">
            <button class="btn green-btn">View 3 bids</button>
        </div>
    </div>
    <div class="card__footer"></div>
</div>