<header class="page-header">
    <div class="container page-header__container">
        <div class="row nav-row">
            <div class="logo">
                <img class="img--fluid logo__img" src="../../assets/images/header-logo@2x.png" alt="Logo">
            </div>
            <nav>
                <ul class="navbar" (click)="menuClick($event)">
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--active" href="#" >Vehicles</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="#">Faqs</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="#">Contact us</a>
                    </li>
                </ul>
                <div class="flag">
                    <img src="../../assets/images/flag.png" alt="United Arab Emirates - Flag">
                </div>
                <div class="login">
                    <app-button
                      text="Sign in"
                      faIcon="user"
                      variant="default"
                      btnType="button"
                    ></app-button>
                </div>
            </nav>
        </div>

        <div class="row">
            <div class="search">
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>

                <div class="search__form form">
                    <input class="form__input" type="text" list="products" name="search" placeholder="Search products" id="search">
                    <datalist id="products">
                        <option value="Toyota Camry SE"></option>
                        <option value="Toyota Camry XSE"></option>
                    </datalist> 
                </div>

                <div class="order">
                    <select name="order" id="order">
                        <option value="1">By time</option>
                    </select>
                </div>

                <div class="view-type">
                    <div class="view-type__icon icon">
                        <i class="fa fa-th-large"></i>
                    </div>
                    <div class="view-type__icon icon">
                        <i class="fa fa-list-ul"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="form filter">
                
                <div class="form-control filter__item">
                    <select name="Damage type" id="damage-type">
                        <option value="0">Damage type</option>
                    </select>
                </div>
                
                <div class="form-control filter__item">
                    <label class="label__container" for="favorites">Show Favorites
                      <input type="checkbox" checked="checked" name="Favorites" id="favorites">
                      <span class="checkmark"></span>
                    </label>
                </div>

                <div class="form-control filter__item">
                    <label class="label__container" for="live-auctions">Live auctions
                      <input type="checkbox" name="Live auctions" id="live-auctions">
                      <span class="checkmark"></span>
                    </label>
                </div>

                <div class="form-control filter__item">
                    <label class="label__container" for="coming-soon">Coming soon
                      <input type="checkbox" name="Coming soon" id="coming-soon">
                      <span class="checkmark"></span>
                    </label>
                </div>

                <div class="form-control filter__item">
                    <label class="label__container" for="ended-auctions">Ended auctions
                      <input type="checkbox" id="ended-auctions" checked="checked" name="Ended auctions">
                      <span class="checkmark"></span>
                    </label>
                </div>
                
            </form>
        </div>

    </div>
</header>
