.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 32px;

  &__item {
    flex-grow: 1;
    padding: 0 30px;

    input {
      &:hover {
        cursor: pointer;
      }
    }

    select {
      &:hover {
        cursor: pointer;
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}
