@import '../abstracts/variables';

@include for-desktop {
    .search {
        display: flex;
        padding: 8px 0;
        padding-top: 30px;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__form {
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            
            input {
                height: 100%;
                border: none;
                border-bottom: 2px solid grey;

                &:focus {
                    border-bottom: 2px solid $secondary-color;
                    outline: none;
                }
            }
        }
    }
}