@import '../../../assets/scss/abstracts/mixins';
@import "../../../assets/scss/abstracts/variables";

.page-footer {
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;

  &__container {
    display: flex;

    > div {
      flex-basis: 25%;
      @include flex-center-align;
    }

    .support {
      p {
        padding-left: $spacing-4;
        text-transform: uppercase;
        text-align: center;
        font-size: $font-size-very-small;
        line-height: $line-height-very-small;
      }
    }

    nav {
      flex-basis: 25%;
      display: flex;
      justify-content: center;

      ul {
        list-style-type: none;
        display: flex;

        li {
          @include flex-center-align;

          a {
            font-size: $font-size-very-small;
            line-height: $line-height-very-small;
            padding: $spacing-1 $spacing-2;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: $primary-color;
            white-space: pre;
          }
        }
      }
    }

    .social-media {
      &__icon {
        padding: $spacing-1;
      }
    }
  }
}
