<footer class="page-footer">

    <div class="container page-footer__container">
        <div class="page-footer__logo">
            <img class="img--fluid" src="../../assets/images/header-logo@2x.png" alt="Footer Logo">
        </div>

        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="#">Terms and conditions</a>
                </li>
                <li>
                    <a href="#">Privacy policy</a>
                </li>
                <li>
                    <a href="#">faqs</a>
                </li>
            </ul>
        </nav>

        <div class="support">
            <p>Questions? <a href="#">support@carmazad.com</a></p>
        </div>

        <div class="social-media">
            <div class="icon social-media__icon">
                <img src="../../assets/images/instagram.png" alt="Instagram">
            </div>
            <div class="icon social-media__icon">
                <img src="../../assets/images/facebook.png" alt="Facebook">
            </div>
            <div class="icon social-media__icon">
                <img src="../../assets/images/twitter.png" alt="Twitter">
            </div>
        </div>
    </div>
    
</footer>