@import '../../../assets/scss/abstracts/mixins';
@import "../../../assets/scss/abstracts/variables";

.page-footer {
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;

  &__logo {
    padding: 0 $spacing-4;
  }

  &__container {
    display: flex;

    > div {
      flex-basis: 25%;
      @include flex-center-align;
    }

    .support {
      padding: 0 $spacing-4;
      border-right: 1px solid $secondary-color;
      p {
        text-transform: uppercase;
        text-align: center;
        font-size: $font-size-very-small;
        line-height: $line-height-very-small;
      }
      
    }

    nav {
      flex-basis: 25%;
      display: flex;
      justify-content: center;
      border-left: 1px solid $secondary-color;
      border-right: 1px solid $secondary-color;
      padding: 0 $spacing-4;

      ul {
        list-style-type: none;
        display: flex;
        padding-left: 0;

        li {
          @include flex-center-align;

          a {
            font-size: $font-size-very-small;
            line-height: $line-height-very-small;
            padding: $spacing-1 $spacing-2;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: $primary-color;
            white-space: pre;
          }
        }
      }
    }

    .social-media {
      padding: 0 $spacing-4;

      &__icon {
        padding: $spacing-1;
        font-size: $font-size-big;
        line-height: $line-height-big;
      }

      &__instagram {
        background: linear-gradient(to top,#FF0000, #FF00BB);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &__facebook {
        color: #2838CE;
      }

      &__twitter {
        color: #03A9F4;
      }
    }
  }
}
