<footer class="page-footer">

    <div class="container page-footer__container">
        <div class="page-footer__logo">
            <img src="../../assets/images/header-logo.png" alt="Footer Logo">
        </div>

        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="#">Terms and conditions</a>
                </li>
                <li>
                    <a href="#">Privacy policy</a>
                </li>
                <li>
                    <a href="#">faqs</a>
                </li>
            </ul>
        </nav>

        <div class="support">
            <p>Questions? <a href="#">support@carmazad.com</a></p>
        </div>

        <div class="social-media">
            <div class="icon social-media__icon social-media__instagram">
                <i class="fa fa-instagram"></i>
            </div>
            <div class="icon social-media__icon social-media__facebook">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="icon social-media__icon social-media__twitter">
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
    
</footer>