@include for-desktop {
    .page-content {
        background-color: #e4f0fd;

        &__container {
            display: flex;
        }

        aside {
            flex-basis: 25%;
            padding: 10px;
        }

        main {
            flex-basis: 75%;
        }
    }

    .products {
        display: flex;
    }

    .column {
        flex-basis: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}