<div class="card">
  <div class="card__wrapper">
    <div class="card__header">
      <div class="card__date">
        {{date}}
      </div>
      <figure class="card__figure">
        <span class="icon favorite">
          <i class="fa fa-star"></i>
        </span>
        <img class="img--fluid" [src]="imgSrc" [alt]="imgAlt">
        <span class="icon add-auction-btn">
          <i class="fa fa-gavel"></i>
        </span>
        <figcaption>
          <h3>{{carName}}</h3>
          <small>{{year}}</small>
        </figcaption>
      </figure>
    </div>
    <div class="card__body">
      <div class="row card__row">
        <div class="column">
          <span class="icon card__body__icon">
            <i class="fa fa-car"></i>
          </span>
          <span>Accident</span>
        </div>
        <div class="column">
          <span class="icon card__body__icon">
            <i class="fa fa-eye"></i>
          </span>
          <span>{{views}} views</span>
        </div>
      </div>
      <div class="row card__row">
        <div class="location">
          <span class="icon card__body__icon">
            <i class="fa fa-map-marker"></i>
          </span>
          <div class="text">
            <small>Location</small>
            <p>{{location}}</p>
          </div>
        </div>
      </div>

      <div class="row card__row">
        <div class="column price">
          <span class="icon card__body__icon">
            <i class="fa fa-gavel"></i>
          </span>
          <div class="text">
            <small>Sold for</small>
            <p>
              {{oldPrice}} <span class="currency">SAR</span>
            </p>
          </div>
        </div>
        <div class="column price">
          <span class="icon card__body__icon">
            <i class="fa fa-money"></i>
          </span>
          <div class="text">
            <small>Buy now</small>
            <p>
              {{currentPrice}} <span class="currency">SAR</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row card__row">
        <div class="column">
          <app-button text="View 3 bids" variant="green" btnType="button" hasFullWidth="true"></app-button>
        </div>
      </div>
    </div>
    <div class="row card__footer"></div>
  </div>

</div>