<div class="page-content">
  <div class="container page-content__container">
    <aside class="sidebar">
      <form action="#">
        <div class="form-control">
          <select name="Make" id="make">
            <option value="0">Make</option>
          </select>
        </div>

        <div class="form-control">
          <select name="Model" id="model">
            <option value="0">Model</option>
          </select>
        </div>

        <div class="form-control">
          <select name="City" id="city">
            <option value="0">City</option>
          </select>
        </div>

        <div class="form-control">
          <select name="From" id="from">
            <option value="0">From</option>
          </select>

          <select name="To" id="to">
            <option value="0">To</option>
          </select>
        </div>

        <div class="form-control">
          <input type="text" name="Auction ID" id="auction-id" placeholder="Auction ID">
        </div>

        <div class="form-control">
          <label for="current-bid">Current bid</label>
          <input type="range" id="current-bid" name="current-bid" min="0" max="10000">
        </div>

        <div class="form-control">
          <app-button
            btnType="submit"
            variant="primary"
            text="Search"
            faIcon="search"
            hasFullWidth="true"
          ></app-button>
        </div>

        <div class="form-control">
          <app-button
            btnType="reset"
            variant="reset"
            text="Reset"
          >
          </app-button>
        </div>
      </form>
    </aside>

    <main>
      <div class="products">
        <div class="column products__column">
          <ng-container *ngFor="let product of firstColumnProducts">
            <app-product 
              [imgSrc]="product.imgSrc"
              [carName]="product.carName"
              [imgAlt]="product.imgAlt"
              [date]="product.date"
              [views]="product.views"
              [location]="product.location"
              [oldPrice]="product.oldPrice"
              [currentPrice]="product.currentPrice"
              [year]="product.year"
          ></app-product>
          </ng-container>
        </div>
        <div class="column products__column">
          <ng-container *ngFor="let product of secondColumnProducts">
            <app-product
              [imgSrc]="product.imgSrc"
              [carName]="product.carName"
              [imgAlt]="product.imgAlt"
              [date]="product.date"
              [views]="product.views"
              [location]="product.location"
              [oldPrice]="product.oldPrice"
              [currentPrice]="product.currentPrice"
              [year]="product.year"
          ></app-product>
          </ng-container>
        </div>
        <div class="column products__column">
          <ng-container *ngFor="let product of thirdColumnProducts">
            <app-product
              [imgSrc]="product.imgSrc"
              [carName]="product.carName"
              [imgAlt]="product.imgAlt"
              [date]="product.date"
              [views]="product.views"
              [location]="product.location"
              [oldPrice]="product.oldPrice"
              [currentPrice]="product.currentPrice"
              [year]="product.year"
          ></app-product>
          </ng-container>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination__item pagination__item--active">1</div>
        <div class="pagination__item">2</div>
        <div class="pagination__item">3</div>
        <div class="pagination__item">4</div>
        <div class="pagination__item">5</div>
        <div class="pagination__item">6</div>
        <div class="pagination__item">7</div>
      </div>
    </main>
  </div>
</div>